body {
  font-family: 'Fira Sans', sans-serif;
  overflow-x: hidden; }

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

.header-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 20px black;
  padding: 40px 0;
  background-color: #deb15a;
  transition: .5s; }
  .header-wrap--active {
    padding-bottom: 80px;
    transition: .5s; }

.ordlogo {
  display: flex;
  cursor: pointer; }
  .ordlogo__img {
    align-self: center; }
  .ordlogo__heading {
    margin: 0;
    font-size: 2em;
    font-weight: 400; }

.resp-menu {
  font-size: 1.85em;
  color: #5d5b50;
  display: none;
  order: 1; }

.nav {
  display: flex;
  transition: 2s;
  align-items: center;
  margin-left: -1%; }
  .nav__item {
    transition: .6s;
    color: #5d5b50;
    display: flex;
    margin: 0 5%;
    font-weight: 700;
    text-transform: uppercase; }
    .nav__item:hover {
      color: white; }
    .nav__item:last-of-type:hover + .balance :first-of-type {
      visibility: visible; }
    .nav__item:last-of-type:hover + .balance :last-of-type {
      visibility: visible; }
    .nav__item .fa {
      padding-right: 10px; }

.balance {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .balance__current {
    visibility: hidden;
    font-weight: 700;
    transition: .6s;
    color: #4c565e;
    cursor: default; }
  .balance__done {
    visibility: hidden;
    font-weight: 400;
    transition: .6s;
    color: #877a5c;
    cursor: default; }

.user {
  display: flex;
  align-items: center;
  margin-left: 10%; }
  .user__bt {
    width: 300px;
    height: 45px;
    font-size: 0.875em;
    color: #5d5b50;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #424f5e;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #424f5e;
    outline-color: black;
    cursor: pointer; }
    .user__bt .fa {
      padding-right: 5px; }
  .user__like {
    margin-left: 10%;
    font-size: 1.22em;
    color: #5d5b50; }
    .user__like:hover {
      color: #990000;
      transition: .5s; }
  .user__notify {
    margin-left: 10%;
    font-size: 1.22em;
    color: #5d5b50; }
    .user__notify:hover {
      color: black;
      transition: .5s; }
  .user__avatar {
    margin-left: 10%;
    font-size: 1.8em;
    color: #5d5b50; }
    .user__avatar:hover {
      color: white;
      transition: .5s; }
    .user__avatar:hover + .user__menu {
      color: white;
      transition: .5s; }
  .user__menu {
    margin-left: 3%;
    color: #5d5b50; }
  .user__window {
    visibility: hidden;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 11%;
    right: 0;
    opacity: 0;
    text-transform: capitalize; }
    .user__window .w-item {
      color: #424038; }
      .user__window .w-item .fa {
        margin-right: 5px; }
      .user__window .w-item:hover {
        transition: .5s;
        color: white; }

.user__window--active {
  visibility: visible;
  opacity: 1;
  transition: 1.5s; }

.taskshead {
  position: relative;
  display: flex;
  align-items: baseline;
  margin: 50px 5%;
  transition: 1s; }
  .taskshead:after {
    position: absolute;
    bottom: -34px;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: grey; }
  .taskshead .status-sort {
    flex: 1 0 50%;
    text-align: center; }
  .taskshead .id-sort {
    flex: 1 0 50%;
    text-align: right; }
  .taskshead__sort {
    text-transform: uppercase;
    font-weight: 700; }
  .taskshead__status {
    position: relative;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 5%; }
    .taskshead__status:hover {
      color: green; }
    .taskshead__status:hover:after {
      content: "";
      position: absolute;
      bottom: -35px;
      left: -90%;
      width: 300%;
      height: 5px;
      background: green; }

.arrow-sort {
  padding-left: 10px; }

.tasksbody {
  margin: 0 5%;
  transition: 2s; }
  .tasksbody__heading {
    display: flex;
    padding: 50px 0;
    justify-content: space-around;
    font-size: 0.8em;
    color: #5d5b50;
    text-transform: capitalize;
    cursor: default; }

.col-title {
  flex: 2 0 29%; }

.col-deadline {
  flex: 1 0 10%;
  text-align: center; }

.col-status {
  flex: 1 0 10%;
  text-align: center; }

.col-assign {
  flex: 1 0 10%;
  text-align: center; }

.col-price {
  flex: 1 0 10%;
  text-align: center; }

.col-id {
  flex: 1 0 10%;
  text-transform: uppercase;
  text-align: center; }

.taskitem {
  display: flex;
  position: relative;
  font-size: 1.2em;
  height: 5vh;
  text-align: center;
  border-radius: 10px;
  padding: 80px 0;
  margin: 25px auto;
  background: #f3f5f7;
  align-items: center; }
  .taskitem:before {
    content: "";
    position: absolute;
    width: 13rem;
    left: -6.5rem;
    bottom: 50%;
    height: 2px;
    transform: rotate(90deg);
    background: green; }
  .taskitem__heading {
    font-weight: bold; }
  .taskitem__title {
    display: flex;
    margin-left: 4%;
    flex-direction: column;
    flex: 2 0 25%;
    text-align: left; }
  .taskitem__deadline {
    display: flex;
    flex-direction: column;
    flex: 1 0 10%; }
  .taskitem__status {
    display: flex;
    flex-direction: column;
    flex: 1 0 10%; }
  .taskitem__assign {
    display: flex;
    flex-direction: column;
    flex: 1 0 10%; }
  .taskitem__price {
    display: flex;
    flex-direction: column;
    flex: 1 0 10%; }
  .taskitem__id {
    display: flex;
    flex-direction: column;
    flex: 1 0 10%; }

/* Media */
@media all and (max-width: 1200px) {
  body {
    font-size: 14px; }
  .user__bt {
    font-size: 0.8em;
    height: 40px;
    width: 200px; }
  .user__like {
    margin-left: 5%; }
  .user__notify {
    margin-left: 5%; }
  .user__avatar {
    margin-left: 5%; }
  .user__menu {
    margin-left: 5%; }
  .taskshead {
    margin: 50px 1%; }
  .tasksbody {
    margin: 1%; } }

@media all and (max-width: 992px) {
  .header-wrap {
    font-size: 15px; }
  .taskshead {
    font-size: 12px;
    margin: 50px 0; }
    .taskshead__sort {
      margin-right: 12%; }
  .user {
    margin: 0; }
  .tasksbody__heading {
    font-size: 10px; }
  .taskitem {
    font-size: 14px; }
  .resp-menu {
    display: initial; }
  .nav {
    position: absolute;
    justify-content: center;
    top: 14%;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .2s; }
    .nav--translate {
      top: 17%; }
  .resp-nav {
    display: flex;
    transition: 1.2s;
    opacity: 1; }
  .nav__item--resp:hover {
    color: green; }
  .balance__current:hover {
    transition: .5s; }
  .balance__done:hover {
    transition: .5s; }
  .resp-taskshead {
    transition: 1s;
    transform: translateY(5vh); }
  .resp-tasksbody {
    transition: 2s;
    transform: translateY(5vh); } }

@media all and (max-width: 768px) {
  /* body{
            margin: 0;
            padding: 0;
      }

     .header-wrap{
           width: 100vw;
           flex-wrap: wrap;
     }
     .user {
           display: none;
     }
      .resp-nav{
           flex-direction: column;
      }
      .nav__item{
            width: 100%;
      }

      .taskitem *{
            flex-direction: column;
      } */ }
