body {
      font-family: 'Fira Sans', sans-serif;
      overflow-x: hidden;
}

h1,
h2,
h3,
p {
      margin: 0;
      padding: 0;
}

a {
      text-decoration: none;
      color: black;
}

.header-wrap {
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0 2px 20px black;
      padding: 40px 0;
      background-color: #deb15a;
}

.ordlogo {
      display: flex;
      cursor: pointer;
      &__img {
            align-self: center;
      }
      &__heading {
            margin: 0;
            font-size: 2em;
            font-weight: 400;
      }
}

.resp-menu {
      font-size: 1.85em;
      color: #5d5b50;
      display: none;
      order: 1;
}

.nav {
      display: flex;
      align-items: center;
      margin-left: -1%;
      &__item {
            transition: .6s;
            color: #5d5b50;
            display: flex;
            margin: 0 5%;
            font-weight: 700;
            text-transform: uppercase;
            &:hover {
                  color: white;
            }
            &:last-of-type:hover+.balance :first-of-type {
                  visibility: visible;
            }
            &:last-of-type:hover+.balance :last-of-type {
                  visibility: visible;
            }
            .fa {
                  padding-right: 10px;
            }
      }
}

.balance {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__current {
            visibility: hidden;
            font-weight: 700;
            transition: .6s;
            color: #4c565e;
            cursor: default;
      }
      &__done {
            visibility: hidden;
            font-weight: 400;
            transition: .6s;
            color: #877a5c;
            cursor: default;
      }
}

.user {
      display: flex;
      align-items: center;
      margin-left: 10%;
      &__bt {
            width: 300px;
            height: 45px;
            font-size: 0.875em;
            color: #5d5b50;
            font-weight: 700;
            text-transform: uppercase;
            background: transparent;
            border: 1px solid #424f5e;
            border-radius: 5px;
            box-shadow: 0px 0px 6px #424f5e;
            outline-color: black;
            cursor: pointer;
            .fa {
                  padding-right: 5px;
            }
      }
      &__like {
            margin-left: 10%;
            font-size: 1.22em;
            color: #5d5b50;
      }
      &__notify {
            margin-left: 10%;
            font-size: 1.22em;
            color: #5d5b50;
      }
      &__avatar {
            margin-left: 10%;
            font-size: 1.8em;
            color: #5d5b50;
      }
      &__menu {
            margin-left: 3%;
            color: #5d5b50;
      }
}

.taskshead {
      position: relative;
      display: flex;
      align-items: baseline;
      margin: 50px 5%;
      &:after {
            position: absolute;
            bottom: -34px;
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background: grey;
      }
      .status-sort {
            flex: 1 0 50%;
            text-align: center;
      }
      .id-sort {
            flex: 1 0 50%;
            text-align: right;
      }
      &__sort {
            text-transform: uppercase;
            font-weight: 700;
      }
      &__status {
            position: relative;
            text-transform: uppercase;
            font-size: 1.2em;
            margin: 5%;
            &:hover {
                  color: green;
            }
            &:hover:after {
                  content: "";
                  position: absolute;
                  bottom: -35px;
                  left: -90%;
                  width: 300%;
                  height: 5px;
                  background: green;
            }
      }
}

.arrow-sort {
      padding-left: 10px;
}

.tasksbody {
      margin: 0 5%;
      &__heading {
            display: flex;
            padding: 50px 0;
            justify-content: space-around;
            font-size: 0.8em;
            color: #5d5b50;
            text-transform: capitalize;
            cursor: default;
      }
}

.col {
      &-title {
            flex: 2 0 29%;
      }
      &-deadline {
            flex: 1 0 10%;
            text-align: center;
      }
      &-status {
            flex: 1 0 10%;
            text-align: center;
      }
      &-assign {
            flex: 1 0 10%;
            text-align: center;
      }
      &-price {
            flex: 1 0 10%;
            text-align: center;
      }
      &-id {
            flex: 1 0 10%;
            text-transform: uppercase;
            text-align: center;
      }
}

.taskitem {
      display: flex;
      position: relative;
      font-size: 1.2em;
      height: 5vh;
      text-align: center;
      border-radius: 10px;
      padding: 80px 0;
      margin: 25px auto;
      background: #f3f5f7;
      align-items: center;
      &:before {
            content: "";
            position: absolute;
            width: 13rem;
            left: -6.5rem;
            bottom: 50%;
            height: 2px;
            transform: rotate(90deg);
            background: green;
      }
      &__heading {
            font-weight: bold;
      }
      &__title {
            display: flex;
            margin-left: 4%;
            flex-direction: column;
            flex: 2 0 25%;
            text-align: left;
      }
      &__deadline {
            display: flex;
            flex-direction: column;
            flex: 1 0 10%;
      }
      &__status {
            display: flex;
            flex-direction: column;
            flex: 1 0 10%;
      }
      &__assign {
            display: flex;
            flex-direction: column;
            flex: 1 0 10%;
      }
      &__price {
            display: flex;
            flex-direction: column;
            flex: 1 0 10%;
      }
      &__id {
            display: flex;
            flex-direction: column;
            flex: 1 0 10%;
      }
}


/* Media */

@media all and(max-width:1200px) {
      body {
            font-size: 14px;
      }
      .user {
            &__bt {
                  font-size: 0.8em;
                  height: 40px;
                  width: 200px;
            }
            &__like {
                  margin-left: 5%;
            }
            &__notify {
                  margin-left: 5%;
            }
            &__avatar {
                  margin-left: 5%;
            }
            &__menu {
                  margin-left: 5%;
            }
      }
      
      .taskshead {
            margin:50px 1%;
      }

      .tasksbody {
            margin: 1%;
      }
    
}

@media all and(max-width:992px) {
      .header-wrap {
            font-size: 15px;
      }
      .taskshead {
            font-size: 12px;
            margin: 50px 0;
            &__sort{
                  margin-right: 12%;
            }
      }
      
      .tasksbody__heading{
            font-size: 10px;
      }

      .taskitem{
            font-size: 14px;
      }
     
      .resp-menu {
            display: initial;
      }
     
      .resp-nav {
            display: flex;
            justify-content: center;
            position: absolute;
            top: 14%;
            text-align: center;
      }
     
      .nav__item--resp {
            &:hover {
                  color: green;
            }
      }
     
      .balance {
            &__current:hover {
                  transition: .5s;
            }
            &__done:hover {
                  transition: .5s;
            }
      }
     
      .resp-taskshead {
            transform: translateY(5vh);
      }
     
      .resp-tasksbody {
            transform: translateY(5vh);
      }
}

@media all and(max-width:768px) {
      
      /* body{
            margin: 0;
            padding: 0;
      }

     .header-wrap{
           width: 100vw;
           flex-wrap: wrap;
     }
     .user {
           display: none;
     }
      .resp-nav{
           flex-direction: column;
      }
      .nav__item{
            width: 100%;
      }

      .taskitem *{
            flex-direction: column;
      } */
}